:root {
  --header-bg: rgb(253, 255, 245);
  --header-text: #1a1a1a;
  --icon-bg: #f1f1f5;
  --icon-color: #1a1a1a;

  --kpi-hover-bg: rgba(13, 110, 253, 0.06);

  --profile-bg: #e9e9e9;
  --menu-bg: #ffffff;
  --menu-hover: #f2f2f2;

  /* dashboard colors */
  --bg-main: #f6f7fb;
  --bg-card: #ffffff;
  --text-main: #0f172a;
  --text-sub: #64748b;
  --border: #e5e7eb;
  --shadow: rgba(15,23,42,0.04);
}

/***********************************
   DARK THEME
************************************/
body[data-theme="dark"] {
  --header-bg: #0f172a;      /* dark navy */
  --header-text: #f8fafc;    /* almost white */
  --icon-bg: #1e293b;        /* slate */
  --icon-color: #e2e8f0;     /* soft white */

  --profile-bg: #1a2536;
  --menu-bg: #1e293b;
  --menu-hover: #243347;

   --kpi-hover-bg: rgba(18, 95, 97, 0.865);

  /* Dashboard dark palette */
   --bg-main: #0b1220;     /* full page dark */
  --bg-card: #182233;    /* cards */
  --text-main: #e2e8f0;  /* main text */
  --text-sub: #94a3b8;   /* sub text */
  --border: #2c3e50;
  --shadow: rgba(0,0,0,0.45);
}
